*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    position: relative;
}
.boxfixed{
    position: sticky;
    top: 0;
    left: 0;
    width: 20vw;
    height: 30vh;
    border: 1px solid black;
}
.box1{
    top: 0;
    position: relative;
    width: 75vw;
    margin-left: 25vw;
}
.box{
    width: 30vw;
    height: 5vh;
    margin: 2px;
    border: 1px solid black;
    display: inline-block ;
}
.box2-2{
    position: relative;
    top: 20px;
    right: 20px;
    z-index: 10;
    background-color: aqua;
}
.box3-1{
    z-index: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(41, 40, 40);
}
.box3-2{
    z-index: 1;
    position: absolute;
    width: 70vw;
    height: 80vh;
    background-color: rgb(132, 134, 21);
    top: 5vh;
    left: 5vw;
}
.box3-3{
    z-index: 10;
    position: absolute;
    width: 80vw;
    height: 50vh;
    background-color: rgb(28, 34, 129);
    top: 10vh;
    left: 10vw;
}
.box3-4{
    z-index: 100;
    position: absolute;
    width: 70vw;
    height: 60vh;
    background-color: rgb(28, 129, 68);
    top: 15vh;
    left: 15vw;
}