*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
.background{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 6%;
    width: 94%;
    min-height: 100vh;
    background: url(/src/img/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    z-index: 1;
    position: relative;
    text-align: end;
    top: 5vh;
}
.header__logo{
    display: inline-block;
    margin-right: 50vw;
    font-size: 22px;
    font-weight: 800;
}
.header__logo a{
    font-size: 22px;
    font-weight: 800;
}
.nav__items{
    display: inline-block;
}
.nav__item{
    display: inline-block;
    margin: 0 20px;
}
.nav__item a{
    padding: 5px 20px;
}
aside{
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
}
.img__container{
    width: 4vw;
    height: 4vh;
    position: absolute;
    top: 85vh;
    left: 1vw;
    opacity: 0.5;
}
.aside__img{
    width: 100%;
    height: 100%;
}
.aside__text{
    position: absolute;
    top: 45vh;
    transform: rotate(270deg);
    left: -10vw;
    font-size: 20px;
    color: rgb(179, 179, 179);
    text-transform: uppercase;
}
.span__text{
    font-size: 20px;
    color: black;  
    font-weight: 800;
    text-transform: uppercase;
}
.container__btn{
position: relative;
top: 70vh;
left: 50vw;
width: 200px;
height: 100px;
}
.btn{
    text-transform: uppercase;
    color: white;
    background-color: black;
    padding: 5px 20px;
    border-radius: 20px;
    box-shadow: 15px 15px 50px black;
}
.nav__item a:hover{
    color: white;
    background-color: black;
    border-radius: 20px;
}