*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
}
nav{
 text-align: end;
}
ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin: 10px;
}
a{
    text-decoration: none;
    color: black;
    background-color: whitesmoke;
    transition-duration: .3s;
}
nav ul li:first-child{
    margin-left: 0;
}
nav ul li:last-child{
    margin-right: 0;
}
a:hover{
    cursor: pointer;
    background-color: black;
    color: whitesmoke;
    transition-duration: .3s;
}
nav ul li::after{
    content: "";
    display: inline-block;
    background-color: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin: 5px;
}
nav ul li::before{
    content: "";
    display: inline-block;
    background-color: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin: 5px;
}
main{
    margin-left: 10px;
}
main ul li a{
    padding: 5px;
}
main ul li{
    margin: 10px;
}
main ul li a:hover{
    border-radius: 10px;
    background-color: blue;
}
main ul li:first-child{
    margin: 20px 15px;
}
main ul li a::after{
    position: relative;
    content: '5';
    font-size: 15px;
    text-align: center;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20%;
    margin-left: 5px;
    background-color: red;
    bottom: 5px;
}
.blue::after{
    background-color: blue;
}
.brown::after{
    content: '10';
    background-color: brown;
}
.updates::after{
    content: '2';
}
main ul li a:active{
    border-radius: 10px;
    margin-left: 10px;
    background-color: rgb(20, 82, 20);
}